<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
    <h1>Create User</h1>
    <form method="POST" action="{% url 'create_user' %}">
        {% csrf_token %}
        <label>Username:</label><input type="text" name="username"><br>
        <label>Email:</label><input type="email" name="email"><br>
        <label>Password:</label><input type="password" name="password"><br>
        <label>Verification:</label><input type="text" name="verif"><br>
        <button type="submit">Create User</button>
    </form>
</body>
</html>
